.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75)), url("../assets/university-img.png");
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content .button {
  width: 200px;
  padding: 15px 0;
  margin: 20px 10px;
  border: 2px solid #009688;
  cursor: pointer;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  background: #009688;
}

.content .button .span {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}